.weatherTileWrapper {
  width: 60px;
  height: 146px;
  background: rgba(110, 49, 157, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25),
    inset 1px 1px 0px rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  margin: 5px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 16px 0px;
}

.weatherTileWrapper:hover {
  background: rgba(110, 49, 157, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.miniTemp {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #2c013d;
  text-transform: uppercase;
}
