.headerLogo {
  height: 60px;
  margin-left: 10px;
}

@media only screen and (max-width: 830px) {
  .headerWrapper {
    display: flex;
    flex-direction: column;
  }
}

.headerSearchInput {
  background: linear-gradient(144.91deg, #f5f5f9 18.06%, #dadfe7 85.87%);
  border-radius: 10px;
  height: 36px;
  max-width: 300px;
  margin-right: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.headerSearchInput input {
  background: linear-gradient(144.91deg, #f5f5f9 18.06%, #dadfe7 85.87%);
  color: #2c013d;
}

.headerSearchWrapper {
  display: flex;
  align-items: center;
}

.headerSearchButton {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #f5f5f9;
  height: 36px;
  border-radius: 10px;
}

.headerSearchButton:hover {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.favouriteCity {
  min-width: fit-content;
  padding: 20px;
  background: rgba(110, 49, 157, 0.2);
  cursor: pointer;
}

.favouriteCityEmp {
  min-width: fit-content;
  padding: 20px;
  background: rgba(110, 49, 157, 0.2);
}

.favouriteCity:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.favouriteLocations {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  background: rgba(110, 49, 157, 0.4);
  font-size: 18px;
  padding: 10px;
}

.favouriteCity:hover {
  background: rgba(110, 49, 157, 0.6);
}
