* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url('./assets/purple.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}